<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AST Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="background-image"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-auto" href="{{ url_for ('index')}}" style="color: white;">PLAGIARISM TOOLS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-light">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_file') }}">Upload File</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4 text-container">
        <h2>AST Error</h2>
        <!-- Display the syntax error message here -->
        <p>{{ error_message }}</p>
    </div>

    <footer class="footer py-3">
        <div class="container text-center">
            <span class="text-muted">&copy; 2023 Plagiarism Tools App. All rights reserved.</span>
        </div>
    </footer>
</body>

</html>